<div class="tweet-box d-flex flex-row mt-3">
    <div class="author">
    <%= show_photo(opinion.author, 'side-photo')%>
    </div> 
    <div class="tweet-content">
        <h6><strong><%= opinion.author.fullname %> </strong></h6>
        <p class="card-text"><%= opinion.text %> </p>
    </div>
</div>

