<div class="col-3 offset-7 px-1 bg-light position-fixed pt-5 pl-5 pr-4" id="sticky-sidebar">
<h6 class="border-bottom pb-3">WHO TO FOLLOW</h6>

    <div class="d-flex flex-row mt-3 mb-4 who-to-follow">
            <div class="author"><img src="https://source.unsplash.com/random/32x32" class="pr-2 rounded-circle" alt="user"></div>
            <div class="follow-content">
                <h6><strong>Taylor Swift</strong></h6>
                <small class="text-gray">Followed by <a href="#">Smith Brian</a> </small>
            </div>
    </div>

    <div class="d-flex flex-row mt-3 mb-4 who-to-follow">
            <div class="author"><img src="https://source.unsplash.com/random/32x32" class="pr-2 rounded-circle" alt="user"></div>
            <div class="follow-content">
                <h6><strong>Taylor Swift</strong></h6>
                <small class="text-gray">Followed by <a href="#">Smith Brian</a> </small>
            </div>
    </div>

    <div class="d-flex flex-row mt-3 mb-4 who-to-follow">
            <div class="author"><img src="https://source.unsplash.com/random/32x32" class="pr-2 rounded-circle" alt="user"></div>
            <div class="follow-content">
                <h6><strong>Taylor Swift</strong></h6>
                <small class="text-gray">Followed by <a href="#">Smith Brian</a> </small>
            </div>
    </div>

    <div class="d-flex flex-row mt-3 mb-4 who-to-follow">
            <div class="author"><img src="https://source.unsplash.com/random/32x32" class="pr-2 rounded-circle" alt="user"></div>
            <div class="follow-content">
                <h6><strong>Taylor Swift</strong></h6>
                <small class="text-gray">Followed by <a href="#">Smith Brian</a> </small>
            </div>
    </div>


    <div class="account-type">
        <small class="text-gray">
            <a href="#">Popular accounts</a> |
            <a href="#">Find friends</a>
        </small>
    </div>

    <h6 class="text-gray border-top border-bottom pt-3 pb-3 mt-3 mb-3">TRENDING</h6>

    <p><a href="#" class="text-gray"> #remotework </a></p>
    <p><a href="#" class="text-gray"> Education </a></p>
    <p><a href="#" class="text-gray"> #blacklivesmatter </a></p>
    <p><a href="#" class="text-gray"> Jacob Blake </a></p>
    
</div>