<div class="col-2 offset-8 px-1 bg-light position-fixed pt-5" id="sticky-sidebar">
    <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
        <a href="./" class="nav-link">First Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link ...</a>
    </div>
</div>