<div class="col-2 px-1 bg-custom-side  position-fixed" id="sticky-sidebar">
    <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
        <div class="user-photo d-flex align-items-center p-2 border-bottom border-dark">
            <img src="https://source.unsplash.com/random/60x60" class="rounded pr-2" alt="user">
            <h5 class="user-name">Uduak Essien</h5>
        </div>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
        <a href="./" class="nav-link">Link</a>
    </div>
</div>
