<h1>Welcome to Home</h1>

<div class="card mb-5">
    <div class="card-body">
        <%= form_for(@opinion, url: opinion_path) do |f| %>
            <%= f.text_field :text, autofocus: true, class: "form-control", placeholder: "Enter a message..." %>
            <%#= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title border-bottom pb-3">4 New Tweets</h5>
        <%= render @opinions %>
    </div>
</div>