/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "toastr/toastr";

$blue-dark: #1c2a3d;
$blue-sky: #57a8e5;
$text-dark: #6c8297;
$text-light: #fafcfc;
$text-gray: #b3b4b6;
$black: #000;

body {
  font-family: "Poppins", sans-serif;
}

.text-gray {
  color: $text-gray;
}

.bg-custom-side {
  background-color: $blue-dark !important;
}

.bg-gray {
  background-color: $text-gray !important;
}

.bg-custom-top {
  background-color: $blue-sky !important;
}

.sidebar-links {
  transition: all 0.3s ease-in-out;

  &__anchor {
    color: $text-dark;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    fill: $text-dark;
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: $blue-sky !important;
  }

  &:hover &__anchor,
  &:hover &__icon {
    color: $text-light;
    fill: $text-light;
  }
}

.follow {
  color: $text-light;
  font-size: 11px;

  small {
    color: $text-dark;
  }
}

.actived {
  background-color: $blue-sky !important;
  color: $text-light !important;
  fill: $text-light !important;
}

.follow-content {
  width: 100%;
}

.who-to-follow {
  .follow-content {
    line-height: 1rem;
  }
}

.profile-img {
  transform: scale(1);
  transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}

.side-photo {
  width: 4rem;
}

.side-profile-photo {
  width: 8rem;
}

.cover_image {
  width: 100%;
  height: 250px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.user-name, .user-name-p {
  color: $text-light;
  font-size: 18px;
  text-align: center;
  transform: translateY(0);
  text-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.9);
  transition: all .3s ease-in-out;

  &:hover {
    color: $text-light;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.95);
    transform: translateY(1px);
  }
}

.user-name-p {
  color: $black;

  &:hover {
    color: $black;
  }
}