// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-img {
    transform: scale(1);
    transition: all .4s;

  &:hover {
      transform: scale(1.1);;
  }
}

.side-photo {
    width: 4rem;
}

.side-profile-photo {
    width: 8rem;
}

.cover_image {
    width: 100%;
    height: 250px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.follow-content {
    width: 100%;
}