// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-img {
    width: 150px;
    height: 150px;
}

.cover_image {
    width: 100%;
    height: 250px;
    overflow: hidden;

    img {
        width: 100%;
    }
}